* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #fff862;
    box-sizing: border-box;
}
body {
    padding: 20px;
}
#lista {
    max-width: 1500px;
    margin: 0 auto; 
}
 .caja {
    display: inline-block; 
    width: auto;
    height: auto;
    border: 10px solid black;
    border-radius: 5rem;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
}
.caja img {
    max-width: 100%;
    height: auto;
}
